@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');



header{
    width: 100%;
    padding: 2rem 1%;
    background-color:#d86cc6;
    display:flex;
    justify-content: space-between;
    align-items: center;

   
}
.Namet{
   font-size: 30px;
   color: black;
   font-weight: 100;
   font-family: "saira condensed";
   font-weight: 800;
    
}
.navbar{
    text-align: right;
    display: flex;
    
}
.navbar a{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-left: 3.5rem;
    transition: .3s;
    text-decoration: none;
    margin-right: 20px;
    font-family: "saira condensed";
}
.navbar a:hover{
    color: white;
}
.mainSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-gap: 50px;*/
}
.mainImage{
    grid-column: 3/4;
    grid-row: 2/5;
}
.title{
    grid-column: 1/3;
    grid-row: 2;
    font-family:"Yanone Kaffeesatz" ;
    font-size: 200%;
    margin-left: 30px;

}
.hithere{
    font-size: 100px;
    font-weight: 1800;
    
}
.button{
    grid-column: 1/3;
    grid-row: 3;
    margin-left: 150px;
    margin-bottom: 30px;
   

   
}

.contacts{
    grid-column: 1/3;
    grid-row: 4;
    margin-left: 60px;
    margin-bottom: 30px;

}
.contacts a {
    margin-left: 20px;
    
}


footer{
    width: 100%;
    padding: 2rem 1%;
    background-color:#d86cc6;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
footer p{
    font-family:"Yanone Kaffeesatz" ;
}
